.header {
  display: flex;
  height: 90px;
  position: absolute;
  align-items: center;
  z-index: 10;

  &_logo {
    width: 136px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #ffffff;
  }

  &_nav {
    display: flex;
    width: 750px;
    justify-content: end;

    .header_content_links {
      padding: 0 30px;
      color: #ffffff;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600;

    }
  }

  .header_buttons {
    display: flex;
    align-items: center;

    li:nth-child(1) {
      width: 43px;
      height: 43px;
      border: 1px solid #ffffff;
      border-radius: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-right: 37px
    }

    .header_language {
      width: 29px;
      height: 22px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff;
    }

    .header_book {
      width: 135px;
      height: 43px;
      background: #ffb300;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff;
      }
    }
  }
}
