.main {
  img {
    position: absolute;
    height: 1092px;
    top: 0px;
  }

  .main_head {

    img{
      width: 100%;
    }

    .main_head_text{

      img{
        width: 500px;
      }
    }

  }
}