.main_contact-title {
  width: 300px;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  color: #1F1F1F;
}

.main_contact_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  padding: 100px 0;

  .main_contact-images {
    position: absolute;
    justify-content: center;
    display: flex;
    align-items: center;

    img:nth-child(2) {
      position: absolute;
      width: 600px;
      z-index: 10;
    }

    img:nth-child(1) {
      width: 600px;
    }
  }

  .main_contact-form {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 500px;
      border-radius: 10px;
    }

    .form_content {
      position: absolute;
      justify-content: center;
      display: flex;
      flex-direction: column;
      color: #FFFFFF;
      height: 500px;
      width: 322px;

      .fa-eye {
        color: grey;
        position: relative;
        top: -35px;
        left: 90%;
      }

      h1 {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
      }

      input[type=text],
      input[type=password] {
        height: 46px;
        border-radius: 5px;
        border: 0;
        padding: 10px;
        margin: 10px 0;

        &::placeholder {
          padding: 10px 10px 0;
        }

      }

      label {
        padding-top: 20px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
      }

      button {
        background: #FFB300;
        border-radius: 5px;
        border: 0;
        color: #ffffff;
        font-size: 12px;
        line-height: 42px;
        margin-top: 12px;
      }

      .reset-pass {
        text-align: center;
        text-transform: capitalize;
        font-size: 14px;
        line-height: 18px;
        padding-top: 27px;
        color: #7D352F;

      }

      span {
        font-size: 14px;
        line-height: 70px;
        color: #FFFFFF;

        &:after, &:before {
          content: "";
          display: inline-block;
          width: 147px;
          height: 0;
          opacity: 0.1;
          border: 1px solid #FFFFFF;
          vertical-align: middle;
        }
      }

      .social-container {
        text-align: center;
        padding-bottom: 28px;

        .social {
          border: 1px solid #ffffff;
          border-radius: 50%;
          width: 46px;
          height: 46px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          margin: 0 18px;
          color: #ffffff;
        }
      }

      .new-account {
        display: flex;
        justify-content: space-evenly;

        span {
          line-height: 20px;

          &:before,
          &:after {
            display: none;
          }

          &:nth-child(1) {
            color: #FFFFFF;
            font-size: 12px;
            opacity: 0.7;
          }

          &:nth-child(2) {
            font-size: 14px;
            color: #7D352F;
          }
        }
      }
    }
  }
}
