.main_services {
  padding: 300px 0;

  .main_services_wrapper {
    .main_services_title {
      width: 287px;
      height: 62px;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 82px;
      color: #1F1F1F;
    }

    p {
      width: 631px;
      height: 161px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      padding-top: 30px;
    }
  }
}