@import "header";
@import "mainhead";
@import "mainservices";
@import "specialoffers";
@import "mainnews";
@import "maingallery";
@import "footer";
@import "maincontact";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.scrollToTopBtn {
  background-color: #f35632;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  line-height: 48px;
  width: 48px;
  border-radius: 50%;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 20px;
  right: 20px;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* also add a translate effect */
  transform: translateY(100px);
  /* and a transition */
  transition: all 0.5s ease;
}

.showBtn {
  opacity: 1;
  transform: translateY(0);
}