.header {
  display: flex;
  height: 90px;
  position: absolute;
  align-items: center;
  z-index: 10; }
  .header_logo {
    width: 136px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    color: #ffffff; }
  .header_nav {
    display: flex;
    width: 750px;
    justify-content: end; }
    .header_nav .header_content_links {
      padding: 0 30px;
      color: #ffffff;
      text-transform: capitalize;
      font-size: 18px;
      font-weight: 600; }
  .header .header_buttons {
    display: flex;
    align-items: center; }
    .header .header_buttons li:nth-child(1) {
      width: 43px;
      height: 43px;
      border: 1px solid #ffffff;
      border-radius: 100%;
      align-items: center;
      display: flex;
      justify-content: center;
      margin-right: 37px; }
    .header .header_buttons .header_language {
      width: 29px;
      height: 22px;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #ffffff; }
    .header .header_buttons .header_book {
      width: 135px;
      height: 43px;
      background: #ffb300;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .header .header_buttons .header_book a {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #ffffff; }

.main_head img {
  width: 100%;
  object-fit: cover;
  position: absolute; }

.main_head .reservation_wrapper {
  position: relative;
  top: 150px; }
  .main_head .reservation_wrapper .main_head_text {
    display: flex;
    align-items: center; }
    .main_head .reservation_wrapper .main_head_text img {
      width: 800px;
      height: auto;
      position: relative; }
    .main_head .reservation_wrapper .main_head_text .main_head_title {
      position: absolute;
      width: 630px;
      font-weight: 900;
      font-size: 58px;
      line-height: 72px;
      color: #FFFFFF;
      text-transform: uppercase;
      margin: 0 520px;
      top: 30px; }
  .main_head .reservation_wrapper .reservation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 84px 0; }
    .main_head .reservation_wrapper .reservation_form {
      display: flex;
      align-items: center;
      height: 72px;
      background: #FFFFFF;
      border-radius: 10px; }
    .main_head .reservation_wrapper .reservation_button {
      height: 72px;
      background: #FFB300;
      border-radius: 10px;
      align-items: center;
      display: flex;
      width: 100px;
      justify-content: center; }
      .main_head .reservation_wrapper .reservation_button span {
        height: 25px;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        color: #F3F3F3; }
  .main_head .reservation_wrapper .welcome_text {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 68px rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 100px; }
    .main_head .reservation_wrapper .welcome_text .welcome_text-title {
      font-weight: bold;
      font-size: 40px;
      line-height: 52px;
      color: #1F1F1F; }
    .main_head .reservation_wrapper .welcome_text .welcome_text-content {
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: #000000; }

.main_services {
  padding: 300px 0 120px; }
  .main_services .main_services_wrapper {
    display: flex; }
    .main_services .main_services_wrapper .main_services_img {
      padding: 30px 50px; }
    .main_services .main_services_wrapper .main_services_title {
      width: 287px;
      height: 62px;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 82px;
      color: #1F1F1F; }
    .main_services .main_services_wrapper p {
      width: 631px;
      height: 161px;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      padding-top: 30px; }
    .main_services .main_services_wrapper .main_services_wrap {
      width: 650px;
      display: flex;
      flex-wrap: wrap;
      padding: 60px 0; }
      .main_services .main_services_wrapper .main_services_wrap .main_services_single {
        width: 315px; }
        .main_services .main_services_wrapper .main_services_wrap .main_services_single .main_services_single-title {
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;
          color: #000000;
          display: flex;
          align-items: center; }
          .main_services .main_services_wrapper .main_services_wrap .main_services_single .main_services_single-title img {
            width: 40px;
            height: auto;
            padding: 0 10px 0 0; }
        .main_services .main_services_wrapper .main_services_wrap .main_services_single p {
          width: 315px;
          height: 120px;
          padding-top: 5px;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px; }

.special-offers .special-offers_wrapper .special-offers_title {
  width: 750px;
  height: 62px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 50px;
  color: #1F1F1F; }
  .special-offers .special-offers_wrapper .special-offers_title span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #828282; }

.special-offers .special-offers_wrapper .special-offers_slider {
  display: flex;
  padding: 130px 50px; }
  .special-offers .special-offers_wrapper .special-offers_slider .slick-prev::before, .special-offers .special-offers_wrapper .special-offers_slider .slick-next::before {
    color: #f35632;
    margin-left: -50px; }
  .special-offers .special-offers_wrapper .special-offers_slider .special-offers_slider-single img {
    border-radius: 10px;
    height: 250px;
    width: 200px;
    object-fit: cover; }
  .special-offers .special-offers_wrapper .special-offers_slider .special-offers_slider-single .slider-single_info {
    display: flex;
    flex-direction: column; }
    .special-offers .special-offers_wrapper .special-offers_slider .special-offers_slider-single .slider-single_info .slider-single_info-city {
      font-size: 20px;
      font-weight: bold; }
    .special-offers .special-offers_wrapper .special-offers_slider .special-offers_slider-single .slider-single_info span {
      font-weight: bold;
      font-size: 24px;
      color: #f35632; }

.main_news .main_news-title {
  width: 750px;
  height: 62px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 50px;
  color: #1F1F1F; }
  .main_news .main_news-title span {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    color: #828282; }

.main_news .main_news_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0; }
  .main_news .main_news_wrapper .main_news_single {
    width: 240px;
    height: auto;
    display: flex;
    margin: 25px 37px 25px 0;
    flex-direction: column-reverse; }
    .main_news .main_news_wrapper .main_news_single img {
      width: 240px;
      height: auto;
      border-radius: 10px; }
    .main_news .main_news_wrapper .main_news_single .main_news_single-title {
      position: absolute;
      width: inherit;
      color: #ffffff;
      font-weight: normal;
      font-size: 20px;
      padding: 20px; }

.main_gallery-title {
  width: 287px;
  height: 62px;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 82px;
  color: #1F1F1F; }

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(1, 0vw);
  grid-gap: 15px;
  padding: 100px 0; }
  .grid img {
    object-fit: cover;
    border-radius: 10px;
    opacity: 0.5;
    transition: 0.3s; }
    .grid img:hover {
      opacity: 1;
      cursor: pointer; }
  .grid .grid_item_1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1; }
    .grid .grid_item_1 img {
      width: 410px;
      height: 320px; }
  .grid .grid_item_2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 1; }
    .grid .grid_item_2 img {
      width: 334px;
      height: 321px; }
  .grid .grid_item_3 {
    grid-column-start: 3;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3; }
    .grid .grid_item_3 img {
      width: 760px; }
  .grid .grid_item_4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4; }
    .grid .grid_item_4 img {
      width: 337px; }

.footer {
  height: 213px;
  background: #7D352F;
  display: flex;
  align-items: center;
  color: #ffffff; }
  .footer_wrapper {
    display: flex;
    align-items: baseline; }
  .footer_logo {
    width: 136px;
    height: 35px;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px; }
  .footer_nav ul {
    display: flex;
    flex-wrap: wrap; }
    .footer_nav ul li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 25%;
      margin: 5px 5px;
      height: 40px; }
  .footer_nav a {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #ffffff;
    cursor: pointer; }
  .footer_address {
    margin-left: auto;
    font-size: 18px;
    line-height: 24px; }
    .footer_address div {
      padding: 20px 0; }
    .footer_address span:nth-child(3) {
      padding: 0 10px; }
    .footer_address svg {
      margin: 0 10px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Nunito', sans-serif; }

.container {
  width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
